<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mieszkania na wynajem{% endblock %}</title>
</head>
<body>
    {% block body %}


    {% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
